<%= javascript_include_tag 'jobs.js' %>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">Jobs</h1>

		
		<%= link_to '/jobs/new' do %>
			<button class="button-primary page-task-button">New Job</button>
		<% end %>
	</div>
</div>

<table class="jobs-table table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Type</th>
		<th>Method</th>
		<th>URI</th>
		<th>Description</th>
		<th>Status</th>
		<th>Created By</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
<% @jobs.each do |j| %>
	<tr>
		<td><%= link_to j.id, show_job_path(j.id) %></td>
		<td><%= j.attack_type %></td>
		<td><%= j.http_method %></td>
		<td><%= j.http_uri %></td>
		<td><%= j.description %></td>
		<td>
			<span class="<%= j.status == "active" ? "active-job-label" : "inactive-job-label" %>">
				<%= j.status %> 
			</span>
		</td>
		<td>
		<% unless j.user.nil? %>
			<%= link_to j.user.email, show_user_path(j.user) %>
		<% else %>
			N/A
		<%end %>

		</td>
		<td>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <i class="fa fa-cog"></i>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<% if j.status == "active" %>
			  		<li><%= link_to 'Stop', stop_job_path(j), :method => :patch, :class=>:show %></li>
			  	<% else %>
				    <li><%= link_to 'Start', start_job_path(j), :method => :patch, :class=>:show %></li>
				  <% end %>

					<li><%= link_to 'Destroy', j, :method => :delete, :class=>:destroy, data: { confirm: 'Are you sure?' } %></li>
			  </ul>
			</div>
		</td>
	</tr>
<% end %>
</tbody>
</table>