<table border="1">
<tr>
<th>METHOD</th>
<th>URI</th>
<th>TYPE</th>
<th>STATUS</th>
<th>CREATED</th>
<th>&nbsp;</th>
</tr>
<% @jobs.each do |j| %>
<tr>
<td><%= j.http_method %></td>
<td><%= j.http_uri %></td>
<td><%= j.attack_type %></td>
<td><%= j.status %></td>
<td><%= j.created_at %></td>
<td><%= button_to 'Destroy', j, :method => :delete, :class=>:destroy, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>