<%= javascript_include_tag 'job-show.js' %>
<%= javascript_include_tag 'jobs.js' %>

<input type="hidden" id="current-time" value="<%= DateTime.now %>">
<input type="hidden" id="job-id" value="<%= @job.id %>">
<input type="hidden" id="attack-type" value="<%= @job.attack_type%>">

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">
		[<%= @job.attack_type %>]
		Viewing 
			<span class="<%= @job.status == "active" ? "active-job-label" : "inactive-job-label" %>">
				<%= @job.status %> 
			</span>

			Job: #<%= @job.id %></h1>

		<%= link_to edit_job_path(@job) do %>
			<button class="button-primary page-task-button">Edit Job</button>
		<% end %>

		<% if @job.status == "active" %>
			<%= link_to stop_job_path(@job), :method => :patch do %>
				<button class="stop-button button-primary page-task-button">Stop Job</button>
			<% end %>
		<% else %>
			<%= link_to start_job_path(@job), :method => :patch do %>
				<button class="start-button button-primary page-task-button">Start Job</button>
			<% end %>
		<% end %>

		<div class="job-margin-fix">
		<em><%= @job.description %></em><br /><br />
		<b><%= @job.http_method %></b> <%= @job.http_uri %> with <%= @job.node_limit.nil? ? "unlimited" : @job.node_limit %> nodes<br /><br />

		<% if @job.attack_type == "bruteforce" %>
		Completion Percentage: <span id="completion-percentage"><%= @bruteforce_percentage %></span> 
			<% unless @keyspace_start_val.nil? %>
			- Computing <span id="keyspace_start"><%=@keyspace_start_val %></span> to <span id="keyspace_end"><%= @keyspace_end_val %></span>
			<% end %>
		<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">HTTP Headers</p>
			<pre><%= @job.http_headers %></pre>
		</div>

		<% if @job.http_data != ""%>
		<div class="item">
			<p class="item-title">Post Data</p>
			<pre><%= @job.http_data %></pre>
		</div>
		<% end %>
	</div>

	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">Latest Updates on Associated Nodes - <%= link_to 'Export All', export_node_status_path(@job, :format => :csv) %></p>

				<table class="table table-striped node-checkins">
				<thead>
				<tr>
					<th>Node ID</th>
					<th>Status Code</th>
					<th>Time</th>
				</tr>
				</thead>
				<tbody>
				<% if @job.node_status_checkins.count > 0 %>
				<% @node_statuses.each do |status| %>
					<tr>
						<td><%= status.node_id %></td>
						<td class="job-response-code"><%= status.response_code %></td>
						<td><%= status.created_at %></td>
					</tr>
				<% end %>

				<% else %>
				<tr>
					<td id="node-checkin-row-placeholder" colspan="3"><center><em>No Match</em></center></td>
				</tr>
				<% end %>
				</tbody>
				</table>
		</div>
	</div>


	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">Job responses</p>
				<table class="table table-striped job-responses">
				<thead>
				<tr>
					<th>ID</th>
					<th>Node ID</th>
					<th>Status Code</th>
					<th>Time</th>
				</tr>
				</thead>
				<tbody>
				<% if @job.job_responses.count > 0 %>
				<% 
				# TODO: Make this use some sort of pagination. For now we're only showing 5.
				i = 0
				@job.job_responses.each do |response| %>
				<tr class='job-response' data-id='<%= response.id %>'>
					<td><%= response.id %></td>
					<td><%= response.nodeid %></td>
					<td><%= response.code %></td>
					<td><%= response.created_at %></td>
				</tr>
				<% 
				i += 1
				break if i == 5
				end %>
				<% else %>
				<tr>
					<td id="row-placeholder" colspan="5"><center><em>No Match</em></center></td>
				</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-lg-6 hidden" id="response-container">
		<div class="full right">
			<b>Viewing response: <span id="response-id"></span></b>
		</div>
		<pre id="http-response">
		</pre>
	</div>

	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">Job Matches <%= @job.response_flags.count > 0 ? "(#{@job.response_flags.count}) " : "" %>-- <%= link_to 'Export All', export_job_matches_path(@job, :format => :csv) %></p>
				<table class="table table-striped response-matches">
				<thead>
				<tr>
					<th>Payload</th>
					<th>Matched String</th>
					<th>Time</th>
				</tr>
				</thead>
				<tbody>
				<% if @job.response_flags.count > 0 %>
				<% 
				# TODO: Make this use some sort of pagination. For now we're only showing 5.
				i = 0
				@job.response_flags.each do |flag| %>
				<tr class='job-flag' data-id='<%= flag.id %>'>
					<td><%= flag.payload %></td>
					<td><%= flag.matched_string %></td>
					<td><%= flag.created_at %></td>
				</tr>
				<% 
				i += 1
				break if i == 5
				end %>
				<% else %>
				<tr>
					<td id="response-matches-row-placeholder" colspan="3"><center><em>No Match</em></center></td>
				</tr>
				<% end %>
				</tbody>
				</table>

		</div>
	</div>

	<div class="col-lg-6 hidden" id="response-container">
		<div class="full right">
			<b>Viewing flagged response response: <span id="response-id"></span></b>
		</div>
		<pre id="http-response">
		</pre>
	</div>
</div>
</div>