<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">Viewing Job ID #<%= @job.id %></h1>
		<button class="button-primary page-task-button">Edit Job</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">

		<div class="item">
			<p class="item-title">HTTP URI</p>
			<p><%= @job.http_uri %></p>
		</div>

		<div class="item">
			<p class="item-title">Attack Type</p>
			<p><%= @job.attack_type %></p>
		</div>

		<div class="item">
			<p class="item-title">Job Status</p>
			<p><%= @job.status %></p>
		</div>

		<div class="item">
			<p class="item-title">HTTP Headers</p>
			<code><%= Base64.decode64(@job.http_headers) %></code>
		</div>

		<div class="item">
			<p class="item-title">Post Data</p>
			<code><%= @job.http_data %></code>
		</div>
	</div>

	<% if @job.node_status_checkins %>
	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">Latest Updates on Associated Nodes</p>
				<table class="table table-striped">
				<tr>
					<th>Node ID</th>
					<th>Status Code</th>
					<th>Time</th>
				</tr>

				<% @job.node_status_checkins.each do |status| %>
				<tr>
					<td><%= status.node_id %></td>
					<td><%= status.response_code %></td>
					<td><%= status.created_at %></td>
				</tr>
				<% end %>
				</table>
		</div>
	</div>
	<% end %>
</div>