<meta http-equiv="refresh" content="1">
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">
		[<%= @job.attack_type %>]
		Viewing 
			<span class="<%= @job.status == "active" ? "active-job-label" : "inactive-job-label" %>">
				<%= @job.status %> 
			</span>

			Job: #<%= @job.id %></h1>
		<%= link_to edit_job_path(@job) do %>
			<button class="button-primary page-task-button">Edit Job</button>
		<% end %>
		<div style="margin-top:-30px;margin-bottom:30px;">
		<em><%= @job.description %></em><br /><br />
		<b><%= @job.http_method %></b> <%= @job.http_uri %><br /><br />
		Completion Percentage: <%= @bruteforce_percentage %>% - Computing <%=@keyspace_start_val %> to <%= @keyspace_end_val %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">HTTP Headers</p>
			<pre><%= Base64.decode64(@job.http_headers) %></pre>
		</div>

		<% if @job.http_data != ""%>
		<div class="item">
			<p class="item-title">Post Data</p>
			<pre><%= Base64.decode64(@job.http_data) %></pre>
		</div>
		<% end %>
	</div>

	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">Latest Updates on Associated Nodes</p>

			<% if @job.node_status_checkins.count > 0 %>
				<table class="table table-striped">
				<tr>
					<th>Node ID</th>
					<th>Status Code</th>
					<th>Time</th>
				</tr>

				<% @node_statuses.each do |status| %>
				<tr>
					<td><%= status.node_id %></td>
					<td><%= status.response_code %></td>
					<td><%= status.created_at %></td>
				</tr>
				<% end %>
				</table>
					<% else %>
		There are no updates for this job
	<% end %>
		</div>
	</div>


	<div class="col-lg-6">
		<div class="item">
			<p class="item-title">Job responses</p>
				<% if @job.job_responses.count > 0 %>
				<table class="table table-striped job-responses">
				<thead>
				<tr>
					<th>ID</th>
					<th>Node ID</th>
					<th>Status Code</th>
					<th>Time</th>
				</tr>
				</thead>
				<tbody>

				<% 
				# TODO: Make this use some sort of pagination. For now we're only showing 5.
				i = 0
				@job.job_responses.each do |response| %>
				<tr class='job-response' data-id='<%= response.id %>'>
					<td><%= response.id %></td>
					<td><%= response.nodeid %></td>
					<td><%= response.code %></td>
					<td><%= response.created_at %></td>
				</tr>
				<% 
				i += 1
				break if i == 5
				end %>
				</tbody>
				</table>
			<% else %>
				There are no responses for this job
			<% end %>
		</div>
	</div>

	<div class="col-lg-6" id="response-container" style="display:none;">
		<div style="width:100%; float:right">
			<b>Viewing response: <span id="response-id"></span></b>
		</div>
		<pre id="http-response">
		</pre>
	</div>
</div>

<script>
	$(".job-response").click(function () {
		$("#response-container").show();
		var responseId = $(this).data("id");

		// Make ajax request
		$.get("/job/response/" + responseId, function(data) {
			console.log(data.response);
			$("#response-id").text(responseId);
			$("#http-response").text(data.response);
		});

		$('html, body').animate({
        scrollTop: $(".job-responses").offset().top
    }, 200);

	});
</script>