<%= form_for(@user, :html => {class: 'col-lg-6 create-form'}) do |f| %>

<label for="email">Email Address</label>
<%= email_field :user, :email, {:class => 'input-field'} %>

<label for="password">Password</label>
<%= password_field :user, :password, {:class => 'input-field'} %>

<label for="password_confirmation">Password Confirmation</label>
<%= password_field :user, :password_confirmation, {:class => 'input-field'} %>

<label for="admin">Admin: </label>
<%= f.check_box :admin, {:class => 'inline'} %>

<%= submit_tag "Submit", class: 'button-primary' %>
<% end %>