<%= javascript_include_tag 'users.js' %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-title">Users</h1>
    <%= link_to '/users/new' do %>
      <button class="button-primary page-task-button">New User</button>
    <% end %>
  </div>
</div>

<table class="users-table table table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Last IP</th>
    <th>Admin?</th>
  </tr>
  </thead>
  <tbody>
<% @users.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= link_to u.email, show_user_path(u.id) %></td>
    <td><%= u.last_sign_in_ip %></td>
    <td><%= u.admin ? "x" : "" %></td>
  </tr>
<% end %>
</tbody>
</table>