<!DOCTYPE html>
<html>
<head>
  <title>Server</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag  'https://nvisium.com/stylesheets/global.css' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="nav-menu row">
			<%= image_tag 'nvisium_logo.png', {:class => 'logo', :alt => 'nVisium logo'} %>
			<%= link_to 'Jobs', '/jobs', {:class => 'nav-link link-primary'} %>
			<%= link_to 'Nodes', '/nodes', {:class => 'nav-link link-primary'} %>
			<%= link_to 'Dictionaries', '/dictionaries', {:class => 'nav-link link-primary'} %>
		</nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
		<%= yield %>
	</div>

</body>
</html>
