<html>
<head>
  <title>httpillage C&C</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="nav-menu row">
			<div class="col-lg-8">
        <%= image_tag 'nvisium_logo.png', {:class => 'logo', :alt => 'nVisium logo'} %>
  			<%= link_to 'Jobs', jobs_path, {:class => 'nav-link link-primary'} %>
  			<%= link_to 'Nodes', nodes_path, {:class => 'nav-link link-primary'} %>
  			<%= link_to 'Dictionaries', dictionaries_path, {:class => 'nav-link link-primary'} %>
        <%= link_to 'Charsets', charsets_path, {:class => 'nav-link link-primary'} %>
        <%= link_to 'Settings', settings_path, {:class => 'nav-link link-primary'} %>

        <% if current_user.try(:admin?) %>
          <%= link_to 'Users', users_path, { :class => 'nav-link link-primary' } %>
        <% end %>


       </div>
			<div class="col-lg-4 user-menu"><%= render "layouts/shared/user_menu" if current_user %></div>
		</nav>
		<span class="notice notice-container"><p class="notification-box"><%= notice %></p></span>
		<span class="alert notice-container"><p class="notification-box"><%= alert %></p></span>
		<%= yield %>
    <center><em>Version: <%= version %></em></center>
	</div>
</body>
</html>
