<%= javascript_include_tag 'dictionaries.js' %>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">Dictionaries</h1>
		<%= link_to '/dictionaries/new' do %>
			<button class="button-primary page-task-button">New Dictionary</button>
		<% end %>
	</div>
</div>

<table class="dictionaries-table table table-striped">
<thead>
<tr>
	<th>&nbsp;</th>
	<th>Filename</th>
	<th>Size</th>
	<th>Description</th>
	<th>Preview</th>
	<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<% @dictionaries.all.each do |d| %>
<tr>
	<td>
		<%= link_to '<i class="fa fa-paperclip"></i>'.html_safe, download_dictionary_path(d) %>
	</td>
	<td><%= d.original_filename %></td>
	<td><%= number_to_human_size(d.file_size) %></td>
	<td><%= d.description %></td>
	<td><%= d.preview %></td>
	<td><%= link_to 'X', destroy_dictionary_path(d), :method => :delete, :class=>:destroy, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>
