<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">Upload Dictionary</h1>
	</div>
</div>

<div class="row">
	<%= form_for(@dictionary, :html => {class: 'col-lg-6 create-form'}) do |f| %>
		<%= f.file_field	:dictionary_file %>

		<%= f.label 		:description %>
		<%= f.text_area	:description, :class => 'input-field', :size => '50x6' %>

		<%= f.submit :class => 'button-primary' %>
	<% end %>
</div>