<%= javascript_include_tag 'nodes.js' %>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">Nodes</h1>
	</div>
</div>
<% if @nodes.count > 0 %>
<table class="nodes-table table table-striped">
<thead>
	<tr>
		<th>ID</th>
		<th>IP Address</th>
		<th>MAC Address</th>
		<th>Last Seen</th>
		<th>Created</th>
	</tr>
	</thead>
	<tbody>
	<% @nodes.each do |n| %>
	<tr>
		<td><%= n.id %></td>
		<td><%= n.ip_addr %></td>
		<td><%= n.mac_address %></td>
		<td><%= n.last_seen %></td>
		<td><%= n.created_at %></td>
	</tr>
	<% end %>
	</tbody>
</table>

<% else %>
	<em>It looks like there are no nodes. Be sure to run the client script on the nodes to start the process.</em>
<% end %>
